.body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
    background-image: url("assets/images/bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    padding-top: 182px;

}

.main {
    padding-top: 135px;
}

.headings-main {
    padding-top: 255px;
}

.text-zone {
    height: 128px;
    border-left: 2px solid black;

}

.text-main {
    font-size: 57px;
    line-height: 55px;
}

.card-img:hover {
    background: #f973007d;
    color: #000000;
}
.card-text{
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
}


.navbar {
    background: #F97300;
}

.nav-link{
    color: #000000;
    cursor: pointer;
}

.card-link {
    color: #000000;
    cursor: pointer;
}
.nav-link:hover{

    cursor: pointer;
    background: #1366b4;
    color: #ffffff;
}

.card-link:hover {
    color: #1366b4;
    cursor: pointer;
}



.navbar-toggle {
    background: #fff !important;
}

.navbar-collapse {
    justify-content: flex-end;
}