.header {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding-top: 182px;
    padding-bottom: 172px;
}

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: content-box;
}

.nav-item {
    white-space: nowrap;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav-link {
    display: block;
    color: #000000;
    cursor: pointer;
    padding: 17px 10px;
    border-bottom: 2px solid #1366b4;
    text-decoration: none;
}

.nav-link:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(76, 181, 235, 0.4), rgba(60, 154, 228, 0.6));
    color: #ffffff;
    text-decoration: none;
}


/*.navbar-nav>.active > a{*/
/*    cursor: pointer;*/
/*    color: #0052a0;*/
/*    text-decoration: none;*/
/*    border-bottom: 2px solid #26ccff;*/
/*    background: transparent;*/
/*}*/


.nav-link:focus{
    cursor: pointer;
    color: #0052a0;
    text-decoration: none;
    border-bottom: 2px solid #26ccff;
    background: transparent;
}

.bar-position {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
}

@media (max-width: 1199px) {
    .logo {
        width: 184px;
    }
}

@media (max-width: 991px) {
    .header {
        padding-top: 32px;
        padding-bottom: 139px;
    }

    .navbar-brand {
        display: flex
    }

    .logo {
        margin-left: auto;
    }

    .show {
        justify-content: stretch;
    }

    .navbar-collapse {
        position: page;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 20px;
        padding-bottom: 115px;
    }

    .navbar-collapse-place {
        margin-bottom: 20px;
    }
}



