.white-position {
    background-image: url("../assets/images/white-line2.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.container-hero {
    justify-content: start;
}

.card-link {
    color: #000000;
    cursor: pointer;
}

.card-link:hover, .card-link:focus {
    text-decoration: none;
    filter: brightness(0.5) grayscale(50%);
    color: #1366b4;
}

.card-title {
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    padding-top: 16px;
    white-space: nowrap;
}

.card-title:hover {
    filter: none;
    color: #0ba6ff;
}

@media screen and (max-width: 991px) {
    .card-title {
        white-space: normal;
        font-size: 12px;
        line-height: 14px;
    }

    .white-position {
        background-size: 150% 100%;
        padding-top: 36px;
        padding-bottom: 24px;
    }

    .container-hero {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .white-position {
        padding-top: 38px;
        padding-bottom: 46px;
    }
}