.hero {
       padding-top: 172px;

}
.white-position{
    background-image: url("../assets/images/white-line2.png");
    background-repeat: no-repeat;

    /*background-position: -35% 137px;*/
    background-size:cover;}
.container-hero {



}

.card-link {
    color: #000000;
    cursor: pointer;
}

.card-link:hover, .card-link:focus {
    color: #1366b4;
    text-decoration: none;
}

/*.card-img:hover {*/

/*    color: #000000;*/
/*}*/

.card-title {
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    padding-top: 16px;
    white-space: nowrap;
}
/*@media screen and (max-width: 2199px) {*/
/*    .hero {*/
/*        background-size:80%;*/
/*        background-position: -50% 137px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 1640px) {*/
/*    .hero {*/
/*        background-size:85%;*/
/*    }*/

@media screen and (max-width: 991px) {
    .card-title {
        white-space:normal;
        font-size: 12px;
        line-height: 14px;

    }
}

/*@media screen and (max-width:320px){*/
/*    .logo{*/
/*        display:block;*/
/*    }*/
/*}*/