.offer-area{
    padding: 255px 0 282px 0;
}
.offer-zone {
    height: 128px;
    border-left: 2px solid black;
    margin: 0;
    padding: 0 0 0 30px;

}
.offer-text{
    text-align: start;
    font-size: 57px;
    line-height: 55px;
    color: #1366b4;
    margin: 0;
    padding: 17px 0 15px 0;
}

@media screen and (max-width:767px) {
    .offer-text {text-align: center;
        font-size: 37px;
        line-height: 35px;
    }
    .offer-zone {
        height: auto;
        border-left: none;}
}

/*@media screen and (max-width:320px){*/
/*    .logo{*/
/*        display:block;*/
/*    }*/
/*}*/